
@page "/"
<div style="background: url(/images/BackgroundHome.png); height:720px;width:100%;">

    <h1>Hello, world!</h1>

    Welcome to your new app.
</div>
<div>
    <img src="/images/imgHome.png"/>
</div>